{% extends "base.jinja2" %}
{% block page_title %}21st Birthday{% endblock %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block title %}21st Birthday{% endblock %}
{% block subtitle %}Tuesday July 30th 2019{% endblock %}
{% block content %}
        {{ super() }}

        omg I'm turning 21<br>
        <br>
        so for my birthday we are going to go to k1speed indoor electric go kart racing,<br> for dinner we are going to Pizza Chicago to get deep dish pizza then<br>
        going to my house to eat cheesecake and watch a movie or play video games.<br>
        <br>
        if you you would like to get me anything I have a <a href="/wishlist/" target="_blank">wish list</a><br>
        <br>
        <a class="subtitle">Itinerary</a><br>
        <ul>
          <li>10:30am - carpool meetup at ciarans house</li>
          <li>12:00pm - meet up at <a href="/redirect/?URL=https://goo.gl/maps/VHa3oQ6AJasLaLRk8&linkedfrom=21bday" target="_blank">k1 speed</a> to turn in waivers</li>
          <li>12:30pm - party race package begins</li>
          <li>2:30pm - Racing over head to <a href="/redirect/?URL=https://goo.gl/maps/Lxedq64hFR5jpcdA7&linkedfrom=21bday" target="_blank">pizza Chicago</a> for dinner</li>
          <li>4:00pm - head back to my house for cheesecake and video games or a movie</li>
        </ul>
        <a class="subtitle">Pricing and Menu Information</a><br>
        <br>
        <b>K1 Speed:</b> indoor electric go kart racing<br>
        We are doing the 3 race party package $60 per person<br>
        <b>YOU WILL NEED TO BRING A PRINTED AND SIGNED WAIVER TO PARTICIPATE</b><br>
        <a href="/redirect/?URL=https://www.k1speed.com/santa-clara-location/pricing.html&linkedfrom=21bday" target="_blank">K1 Speed waiver</a><br>
        <br>
        <b>Pizza Chicago:</b> deep dish pizza restaurant<br>
        deep dish pizza place I have been going to forever, I hope you love it as much as I do.<br>
        <a href="/redirect/?URL=http://pizzachicagoonline.com/menu/&linkedfrom=21bday" target="_blank">Pizza Chicago Menu and Pricing</a><br>
        each person gets 2 slices of deep dish pizza paid for by Ciaran. If you need more food bring money for something off the menu linked above.
        <br>
        <br><br>
        <a class="subtitle">RSVP</a><br>
        <a href="mailto:ciaran@cturtle98.com?subject=21st%20birthday%20RSVP&body=I%20will%20be%20there" target="_blank">I am going to be there!</a><br>
        <a href="mailto:ciaran@cturtle98.com?subject=21st%20birthday%20RSVP&body=I%20might%20be%20there" target="_blank">I might be there</a><br>
        <a href="mailto:ciaran@cturtle98.com?subject=21st%20birthday%20RSVP&body=I%20can't%20make%20it" target="_blank">I can't make it</a><br>
        <br>
        <a class="subtitle">RSVP Status</a><br>
        <table>
            <tr>
                <th>Yes</th>
                <td>Murphy Guidice</td>
                <td>Christopher Snook</td>
                <td>Malcolm Volk</td>
                <td>Ian</td>
                <td>Jessie Camarena</td>
                <td>Christian (Jessie bf)</td>
                <td>Matt</td>
                <td>Skye Hathaway</td>
            </tr>
            <tr>
                <th>Maybe</th>
                <td>Yaneth</td>
            </tr>
            <tr>
                <th>No</th>
                <td>Emma Farley</td>
                <td>Ziah Jyothi</td>
                <td>Charlie Cone</td>
                <td>Jason</td>
                <td>Jace (Calli)</td>
            </tr>
            <tr>
                <th>N/R</th>
                <td>Thannie</td>
            </tr>
        </table>
        <br>
        <br>
        <a class="subtitle">Carpooling</a>
        <table>
            <tr>
                <th></th>
                <th>Driver</th>
                <th>Passenger 1</th>
                <th>Passenger 2</th>
                <th>Passenger 3</th>
                <th>Passenger 4</th>
                <th>Passenger 5</th>
                <th>Passenger 6</th>
                <th>Passenger 7</th>
            </tr>
            <tr>
                <th>Car 1</th>
                <td>Ciaran</td>
                <td></td>
                <td>Matt</td>
                <td>Murphy</td>
                <td></td>
            </tr>
            <tr>
                <th>Car 2</th>
                <td>Malcolm</td>
                <td>Christopher</td>
                <td>Skye</td>
                <td>Jessie Camarena</td>
                <td>Christian (Jessie bf)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br>
        Driving Self:
        <ul>
            <li>Ian</li>
        </ul>
        <br>
        Itinerary Version 23
        {% endblock %}
