{% extends "base.html" %}
{% block page_title %}HAM{% endblock %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block title %}HAM - Amateur Radio{% endblock %}
{% block subtitle %}KM6NHG{% endblock %}
{% block content %}
        {{ super() }}
<a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3966218" target="_blank">FCC ULS</a>
<br>
<a href="APRS/">Track me on APRS</a>
<br><br>
<div id="dates">
    <a class="subtitle">Dates</a>
    <table>
        <tr>
            <th>Call Sign Issue</th>
            <th>Technician Test</th>
            <th>General Test</th>
            <th>Extra Test</th>
        </tr>
        <tr>
            <td>October 19th 2017</td>
            <td>October 10th 2017</td>
            <td>To Be Determined</td>
            <td>To Be Determined</td>
        </tr>
    </table>
</div>
<br><br>
<div id="equipment">
    <a class="subtitle">My Equipment</a><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Image(s)</th>
            <th>Links To Buy</th>
            <th>Comments</th>
        </tr>
        <tr>
            <td><b>ARRL Ham Radio License manual</b></td>
            <td><img src="manual.jpg" width="250px"></td>
            <td><a href="http://a.co/9pk05gC" target="_blank">Amazon</a>(~$23)</td>
            <td>I used the third edition ARRL manual to get my license</td>
        </tr>
        <tr>
            <td><b>BaoFeng BF-F8HP<br>Dual Band<br>Two-Way Radio</b></td>
            <td><img src="bf-f8hp.jpg" width="250px"></td>
            <td><a href="https://amzn.com/B00MAULSOK" target="_blank">Amazon</a>(~$63)</td>
            <td>my main handheald radio</td>
        </tr>
        <tr>
            <td><b>Radioddity RD 771 15,6 Inch Whip VHF/UHF</b></td>
            <td><img src="rd771.jpg" width="250px"></td>
            <td><a href="https://www.amazon.com/gp/product/B01GCLAFI2">Amazon</a>(~$10)</td>
            <td>whip antenna for my main handheald radio</td>
        </tr>
        <tr>
            <td><b>Diamond K412S Antenna Mount</b></td>
            <td><img src="K412S.jpg" width="250px"></td>
            <td><a href="https://www.ebay.com/itm/372228667134">ebay</a>(~$69)</td>
            <td>antenna mount that clamps onto my trunk mount</td>
        </tr>
        <tr>
            <td><b>Diamond NR770HB Dualband Mobile Antenna</b></td>
            <td><img src="nr770hb.jpg" width="250px"></td>
            <td><a href="https://www.ebay.com/itm/222850603371">ebay</a>(~$59.95)</td>
            <td>dual band VHF UHF antenna that fits on the mount above</td>
        </tr>
    </table>
</div>
<br><br>
<div id="wishlist">
    <a class="subtitle">Equipment Wishlist</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Image(s)</th>
            <th>Links To Buy</th>
            <th>Want/10</th>
            <th>Comments</th>
        </tr>
        <tr>
            <td><b>Micro-Trak RTG FA, GPS, Antenna Combo</b></td>
            <td><img src="micro-trak_rtg.jpg" width="250px"></td>
            <td><a href="https://www.byonics.com/mt-rtg" target="_blank">BYONICS</a>($220)</td>
            <td>★★<br>★★<br>★★<br>★★<br>☆☆<br>(8/10)</td>
            <td>APRS Car Tracker<br>
                <br>
                -- Byonics GPS reciever<br>
                -- v3 magnet mount SMA antenna<br>
                <br>
                Call Sign: KM6NHG<br>SSID: -9<br>PowerPole Model
        </tr>
        <tr>
            <td><b>Programming Software and USB-K4Y cable for the  Baofeng/Pofung BF-F8</b></td>
            <td><img src="bao-f8.jpg" width="250px"></td>
            <td><a href="https://www.rtsystemsinc.com/BAO-F8-Programming-Software-and-USB-Cable-p/bao-f8-usb.htm" target="_blank">rt Systems</a>($49)</td>
            <td>★★<br>★★<br>★★<br>★★<br>☆☆<br>(8/10)</td>
            <td>Kit Install Method: Include CD with Package <br><br> professional software and programming cable for my BF-F8HP</td>
        </tr>
        <tr>
            <td><b>AnyTone Dual Band Transceiver VHF/UHF AT-5888UV Two Way and Amateur Radio</b></td>
            <td><img src="at-5888uv.jpg" width="250px"></td>
            <td><a href="https://www.amazon.com/dp/B00B1F7IEE" target="_blank">Amazon</a>($209)</td>
            <td>★★<br>★★<br>★★<br>☆☆<br>☆☆<br>(6/10)</td>
            <td>ham radio for mounting in my car</td>
        </tr>
        <tr>
            <td><b>Programming Software and USB-A5R cable for the AnyTone AT-5888UV-II</b></td>
            <td><img src="atp-5888uv_iii.jpg" width="250px"></td>
            <td><a href="https://www.rtsystemsinc.com/ATP-5888UV-III-Programming-Software-and-USB-cable-p/atp-5888uv-iii-usb.htm" target="_blank">rt Systems</a>($49)</td>
            <td>★★<br>★★<br>★★<br>☆☆<br>☆☆<br>(6/10)</td>
            <td>Kit Install Method: Include CD with Package <br><br> professional programming software for in car radio above.</td>
        </tr>
    </table>
</div>
{% endblock %}
