{% extends "base.jinja2" %}
{% block page_title %}Ace outs{% endblock %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block title %}Ace outs{% endblock %}
{% block subtitle %}Ciaran's outs list<br>Ace Hardware Westside Santa Cruz{% endblock %}
{% block content %}
        {{ super() }}

<div id='outs_list'>

  {% for date in outs.keys() %}
    <div id="{{ date }}"> 
      <h4> {{ date }} </h4>
      {% for isle in outs[date].keys() %}
      <div id="{{ date }}_{{ isle }}">
        <b> {{ isle }} </b>
        {% for sku in outs[date][isle] %}
        <div id="{{ date }}_{{ isle }}_{{ sku }}">
          {{ sku }}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>

{% endblock %}
