{% extends "base.jinja2" %}
{% block page_title %}FTB-Academy - Game{% endblock %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block title %}FTB-Academy Game Server{% endblock %}
{% block subtitle %}Minecraft Feed-The-Beast modpack server{% endblock %}
{% block content %}
        {{ super() }}

        <a href="https://ftb.gamepedia.com/FTB_Academy">FTB Wiki Modpack Details</a><br>
        <br>
        
{% endblock %}
